<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In / Sign Up</title>
    <link rel="shortcut icon" href="{{ url_for('static', path='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body class="login-page">
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form id="signupForm" method="POST" action="/signup">
                <h1>Create Account</h1>
                <label style="padding-top: 20px; font-weight: semi-bold;" for="signup-name">Name</label>
                <input type="text" id="signup-name" name="name" placeholder="Name" required />

                <label style="padding-top: 10px; font-weight: semi-bold;" for="signup-email">Email</label>
                <input type="email" id="signup-email" name="email" placeholder="Email" required />

                <label style="padding-top: 10px; font-weight: semi-bold;" for="signup-password">Password</label>
                <input type="password" id="signup-password" name="password" placeholder="Password" required minlength="6"/>

                <button type="submit">Sign Up</button>
            </form>
        </div>

        <div class="form-container sign-in-container">
            <form id="signinForm" method="POST" action="/">
                <h1>Sign in</h1>

                {% if error %}
                    <div style="color: red; margin-bottom: 10px;">{{ error }}</div>
                {% endif %}

                <label style="padding-top: 20px; font-weight: semi-bold;" for="signin-email">Email</label>
                <input type="email" id="signin-email" name="email" placeholder="Email" required />

                <label style="padding-top: 10px; font-weight: semi-bold;" for="signin-password">Password</label>
                <input type="password" id="signin-password" name="password" placeholder="Password" required minlength="6"/>

                <a href="#">Forgot your password?</a>
                <button type="submit">Sign In</button>
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us, please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Welcome to Zugo !</h1>
                    <P> YOUR GROWTH OUR MISSION</P>
                    <p> Create your account and start your journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', path='script.js') }}"></script>
</body>
</html>